/* urbverde-ui/src/assets/main.css */
@import './base.css';

#app {
  background-color: #F8F9FACC;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

