/*
  ╔═════════════════════════════════════════════════════════════════════╗
  ║                     COMO USAR AS FONTES DEFINIDAS                   ║
  ╚═════════════════════════════════════════════════════════════════════╝

  Você pode simplesmente adicionar as classes no seu HTML:
    <p class="body-normal-regular">Texto</p>

*/

@use 'bootstrap/scss/bootstrap' as *;

.body-caption-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400; // Regular
  font-size: 12px;
  line-height: 150%;
}

.body-caption-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500; // Medium
  font-size: 12px;
  line-height: 150%;
}

.body-caption-semibold {
  font-family: 'Inter', sans-serif;
  font-weight: 600; // SemiBold
  font-size: 12px;
  line-height: 150%;
}

.body-caption-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700; // Bold
  font-size: 12px;
  line-height: 150%;
}

.body-small-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400; // Regular
  font-size: 14px;
  line-height: 150%;
}

.body-small-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500; // Medium
  font-size: 14px;
  line-height: 150%;
}

.body-small-semibold {
  font-family: 'Inter', sans-serif;
  font-weight: 600; // SemiBold
  font-size: 14px;
  line-height: 150%;
}

.body-small-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700; // Bold
  font-size: 14px;
  line-height: 150%;
}

.body-normal-light {
  font-family: 'Inter Light', sans-serif;
  font-weight: 300; // Light
  font-size: 16px;
  line-height: 150%;
}

.body-normal-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400; // Regular
  font-size: 16px;
  line-height: 150%;
}

.body-normal-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500; // Medium
  font-size: 16px;
  line-height: 150%;
}

.body-normal-semibold {
  font-family: 'Inter', sans-serif;
  font-weight: 600; // SemiBold
  font-size: 16px;
  line-height: 150%;
}

.body-normal-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700; // Bold
  font-size: 16px;
  line-height: 150%;
}

.body-normal-italic {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
}

.body-normal-underline {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
}

.body-normal-strike {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 150%;
  text-decoration: line-through;
}

.body-other-code {
  font-family: 'Consolas', monospace;
  font-size: 14px;
  line-height: 150%;
}

.body-other-lead {
  font-family: 'Inter Light', sans-serif;
  font-weight: 300; // Light
  font-size: 20px;
  line-height: 150%;
}

.body-other-blockquote {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-style: italic;
  border-left: 5px solid #ccc;
  padding-left: 15px;
}

.heading-h1 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  line-height: 120%;
  font-weight: 500; // Medium
}

.heading-h2 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  line-height: 120%;
  font-weight: 500; // Medium
}

.heading-h3 {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  line-height: 120%;
  font-weight: 500; // Medium
}

.heading-h4 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 120%;
  font-weight: 500; // Medium
}

.heading-h5 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 500; // Medium
}

.heading-h6 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 500; // Medium
}

.components-badge-h1 {
  font-family: 'Inter Bold', sans-serif;
  font-size: 30px;
  line-height: 100%;
  font-weight: 700; // Bold
}

.components-badge-h2 {
  font-family: 'Inter Bold', sans-serif;
  font-size: 24px;
  line-height: 100%;
  font-weight: 700; // Bold
}

.components-badge-h3 {
  font-family: 'Inter Bold', sans-serif;
  font-size: 21px;
  line-height: 100%;
  font-weight: 700; // Bold
}

.components-badge-h4 {
  font-family: 'Inter Bold', sans-serif;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700; // Bold
}

.components-badge-h5 {
  font-family: 'Inter Bold', sans-serif;
  font-size: 15px;
  line-height: 100%;
  font-weight: 700; // Bold
}

.components-badge-h6 {
  font-family: 'Inter Bold', sans-serif;
  font-size: 12px;
  line-height: 100%;
  font-weight: 700; // Bold
}

.components-dropdown-item-header {
  font-family: 'Inter Medium', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500; // Medium
}

.components-dropdown-header {
  font-family: 'Inter Medium', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500; // Medium
}

.components-progress-label {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400; // Regular
}

.components-toast-header-title {
  font-family: 'Inter Bold', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700; // Bold
}

.components-toast-header-time {
  font-family: 'Inter', sans-serif;
  font-size: 12.25px;
  line-height: 18px;
  font-weight: 400; // Regular
}
