@use 'bootstrap/scss/bootstrap' as *;

// Estilos de fonte para Caption
.caption-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400; // Regular
  font-size: 12px;
  line-height: 150%;
}

.caption-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500; // Medium
  font-size: 12px;
  line-height: 150%;
}

.caption-semibold {
  font-family: 'Inter', sans-serif;
  font-weight: 600; // SemiBold
  font-size: 12px;
  line-height: 150%;
}

.caption-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700; // Bold
  font-size: 12px;
  line-height: 150%;
}


// Estilos de fonte para Small
.small-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400; // Regular
  font-size: 14px;
  line-height: 150%;
}

.small-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500; // Medium
  font-size: 14px;
  line-height: 150%;
}

.small-semibold {
  font-family: 'Inter', sans-serif;
  font-weight: 600; // SemiBold
  font-size: 14px;
  line-height: 150%;
}

.small-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700; // Bold
  font-size: 14px;
  line-height: 150%;
}


// Estilos de fonte para Normal
.normal-light {
  font-family: 'Inter Light', sans-serif;
  font-weight: 300; // Light
  font-size: 16px;
  line-height: 150%;
}

.normal-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400; // Regular
  font-size: 16px;
  line-height: 150%;
}

.normal-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500; // Medium
  font-size: 16px;
  line-height: 150%;
}

.normal-semibold {
  font-family: 'Inter', sans-serif;
  font-weight: 600; // SemiBold
  font-size: 16px;
  line-height: 150%;
}

.normal-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700; // Bold
  font-size: 16px;
  line-height: 150%;
}

// Estilos de fonte adicionais
.normal-italic {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
}

.normal-underline {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
}

.normal-strike {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 150%;
  text-decoration: line-through;
}

// Estilo de fonte para código
.other-code {
  font-family: 'Consolas', monospace;
  font-size: 14px;
  line-height: 150%;
}

// Estilo de fonte para Lead
.other-lead {
  font-family: 'Inter Light', sans-serif;
  font-weight: 300; // Light
  font-size: 20px;
  line-height: 150%;
}

// Estilo de fonte para Blockquote
.other-blockquote {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-style: italic;
  border-left: 5px solid #ccc;
  padding-left: 15px;
}


// Estilos de fonte para Cabeçalho
.heading-h1 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  line-height: 120%;
  font-weight: 500; // Medium
}

.heading-h2 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  line-height: 120%;
  font-weight: 500; // Medium
}

.heading-h3 {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  line-height: 120%;
  font-weight: 500; // Medium
}

.heading-h4 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 120%;
  font-weight: 500; // Medium
}

.heading-h5 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 500; // Medium
}

.heading-h6 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 500; // Medium
}



// Components - Badge H1 a H6
.badge-h1 {
  font-family: 'Inter Bold', sans-serif;
  font-size: 30px;
  line-height: 100%;
  font-weight: 700; // Bold
}

.badge-h2 {
  font-family: 'Inter Bold', sans-serif;
  font-size: 24px;
  line-height: 100%;
  font-weight: 700; // Bold
}

.badge-h3 {
  font-family: 'Inter Bold', sans-serif;
  font-size: 21px;
  line-height: 100%;
  font-weight: 700; // Bold
}

.badge-h4 {
  font-family: 'Inter Bold', sans-serif;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700; // Bold
}

.badge-h5 {
  font-family: 'Inter Bold', sans-serif;
  font-size: 15px;
  line-height: 100%;
  font-weight: 700; // Bold
}

.badge-h6 {
  font-family: 'Inter Bold', sans-serif;
  font-size: 12px;
  line-height: 100%;
  font-weight: 700; // Bold
}

// Components - Dropdowns (Item Header e Dropdown Header)
.dropdown-item-header {
  font-family: 'Inter Medium', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500; // Medium
}

.dropdown-header {
  font-family: 'Inter Medium', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500; // Medium
}

.process-label {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400; // Regular
}

.toast-header-title {
  font-family: 'Inter Bold', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700; // Bold
}

.toast-header-time {
  font-family: 'Inter', sans-serif;
  font-size: 12.25px;
  line-height: 18px;
  font-weight: 400; // Regular
}
